.dashboard {
    display: grid;
    min-height: 100vh;
    padding: 1rem;
    -webkit-font-smoothing: antialiased;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1rem;
}

.dashboard > * + * {
    margin-top: 0;
}
